@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  color: #484745;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

* { box-sizing: border-box; }

/*for wrapper*/
.wrapper {
  width: 58.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


.header-section .wrapper {
  width: 96.7%;
  height: 4.12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-btn { display: none; }

.logo a {
  display: flex;
  text-indent: -999999px;
}

.menu-section { flex-basis: 92.5%; }

.nav-section { 
  display: flex; 
  align-items: baseline;
}

.nav-list {
  flex-basis: 93%;
  display: flex;
  justify-content: center;
  gap: 2.12rem;
}


.nav-items a {
  color: inherit;
  font-size: .87rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.active { color: #f0623a; }

.social-icon-list {
  flex-basis: 6.86%;
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

.social-name {
  text-indent: -999999px;
  display: inline-block;
}

.header-section .social-icon::after { font-size: 16px; }

.social-icon::after {
  color: #f0623a;
  font-family: "FontAwesome";
}

.facebook::after { content: "\f082"; }

.twitter::after { content: "\f099"; }

.linkedin::after { content: "\f08c"; }

.instagram::after { content: "\f16d"; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */

.banner .wrapper { 
  width: 100%; 
  position: relative;
}

.banner img { 
  height: 54vh;
  object-fit: cover; }

.banner-info {
  width: 50%;
  position: absolute;
  bottom: 3.1rem;
  right: 0;
}

.banner-text {
  padding: 25px 0 20px 20px;
  background-color: #f0623a;
  color: #fff;
}

.banner-head { 
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1;
  text-transform: uppercase; 
}

.banner-subhead { 
  font-size: 18px; 
  letter-spacing: 1.5px;
}

.read-more {
  margin-top: 20px;
  padding: 15px 22px;
  color: #f0623a;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.read-more::after {
  content: "\f054";
  font-family: "FontAwesome";
  margin-left: 8px;
}

.banner li { width: 100%; }

.banner-list-item:not(:first-child) { display: none; }

/* banner styling ends here */

/* help styling starts here */

.help-section { padding: 5.4rem 0; }

.section-title {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.section-info {
  padding-top: 3.43rem;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}

/* help styling ends here */

/* service styling starts here */

 .service-section { padding: 5.4rem 0; } 

 .service-list {
    padding-top: 5.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 6.87rem;
  }

 .service-list-item {
    flex-basis: calc(20% - 88px);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .service-list-item::before {
    padding-bottom: 2.8rem;
    display: block;
    color: #f0623a;
    font-family: "FontAwesome";
    font-size: 5rem;
  }

 .integrated-strategy::before { content: "\f5dc"; }

 .paid-social::before { content: "\f0a1"; }

 .paid-search::before { content: "\f8cc"; }

 .display::before { content: "\f3fa"; }

 .data-analytics::before { content: "\e29c"; }

 .seo::before { content: "\f201"; }

 .content-marketing::before { content: "\f303"; }

 .e-commerce::before { content: "\f07a"; }

 .ux::before { content: "\f568"; }

 .all-services::before { 
    content: "\f054";
    font-size: 2rem;
  }

 /* service styling ends here */

 /* work section styling starts here */

 .work-section { 
  padding-top: 5.6rem;
  background-color: #f0f0f0; 
}

.work-section .section-info {
  padding: 1.8rem 0 4rem; 
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.portfolio-wrapper { width: 100%; }

.portfolio { display: flex; }

 /* work section styling ends here */

 /* partner styling starts here */

 .partners-section { 
  padding: 5.9rem 0 6.5rem; 
  background-color: #f0623a;
  color: #fff;
}

.partners-section .section-title { padding-bottom: 4.7rem; }

.partners-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.18rem;
}

.partners-list-item { flex-basis: calc(20% - 28px); }
 
 /* partner styling ends here */

 /* affiliations styling starts here */

 .affiliations-section { 
    padding: 5.6rem 0;
    background-color: #f0f0f0;
  }

 .affiliations-section .section-title { padding-bottom: 3.4rem; }
 
 .affiliation-list {
   display: flex;
   flex-wrap: wrap;
    gap: 1.87rem;
  }

 .affiliation-list-item {
   padding: 1.87rem;
   flex-basis: calc(25% - 1.4rem);
   background-color: #fff;
 }
 /* affiliations styling ends here */

 /* contact styling starts here */
 
 .contact-section {
   padding: 4.68rem 0 5.93rem;
   background-color: #173e57;
   color: #e0f8fc;
 }

 .contact-section .section-title {
   font-size: 1.9rem;
   text-transform: none;
 }
 
.contact-form {
  margin-top: 3.25rem;
  display: flex;
  justify-content: space-between;
}

.contact-form > div { 
  flex-basis: calc(50% - 15px); 
  display: flex;
  flex-direction: column;
}

.form-left { gap: 14px; }

.form-right { gap: 19px; }

.form-group {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

.form-group:last-child { margin-right: 0; }

.subject, input, textarea{
  padding: 11px;
  color: #7e7e7e;
  font-size: 17px;
  font-family: inherit;
}

.contact-form label {
  font-size: 17px;
  margin-bottom: 5px;
}

.form-group-checkbox {
  display: flex;
  gap: 5px;
}

.contact-form a {
  color: #f0623a;
  text-transform: capitalize;
}

.submit-info, .form-group-checkbox label { font-size: 16px; }

.form-control { align-self: flex-end; }

.submit-btn {
  margin-right: 20px;
  padding: 20px 30px;
  border: none;
  background-color: #f0623a;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
}

.error { display: none; }

 /* contact styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-section {
  padding: 5.93rem 0 2.37rem;
  background-color: #3a3a3a;
  color: #fff;
}

.footer-info-list { display: flex; }

.footer-info-item {
  margin-right: 11.7%;
  flex-basis: 22.5%;
}

.footer-title {
  padding-bottom: 2.18rem;
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  text-transform: capitalize;
}

.footer-info-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info {
  margin-right: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.phone::before { content: "\f095"; }

.mail::before { content: "\f0e0"; }

.location::before { content: "\f3c5"; }

.contact-info::before {
  font-family: "FontAwesome";
  font-size: 14px; 
}

.footer-info-item-list a{
  color: inherit;
  font-size: 15px;
  text-transform: capitalize;
}

.copyright {
  padding: 3.25rem 0;
  text-align: center;
}

.footer-section .social-icon-list {
  width: 14.4%;
  margin: 0 auto;
}

.footer-section .social-icon::after {
  color: #fff;
  font-size: 2rem;
}

 /*=================================
  footer styling ends here
=================================*/ 


/* our work page styling starts here */

.our-work { padding: 3.37rem 0 .75rem; }

.work-list-wrapper { width: 100%; }

.category-list {
  padding-bottom: 4.93rem;
  display: flex;
  justify-content: space-between;
}

.category-item:not(:last-child)::after {
  content: "/";
  padding-left: 2.5rem;
}

.work-category {
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.our-work-item {
  flex-basis: calc(25% - 10px);
}
/* our work page styling ends here */

