@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  color: #484745;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

* { box-sizing: border-box; }

/*for wrapper*/
.wrapper {
  width: 58.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


.header-section .wrapper {
  width: 96.7%;
  height: 4.12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-btn { display: none; }

.logo a {
  display: flex;
  text-indent: -999999px;
}

.menu-section { flex-basis: 92.5%; }

.nav-section { 
  display: flex; 
  align-items: baseline;
}

.nav-list {
  flex-basis: 93%;
  display: flex;
  justify-content: center;
  gap: 2.12rem;
}


.nav-items a {
  color: inherit;
  font-size: .87rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.active { color: #f0623a; }

.social-icon-list {
  flex-basis: 6.86%;
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

.social-name {
  text-indent: -999999px;
  display: inline-block;
}

.header-section .social-icon::after { font-size: 16px; }

.social-icon::after {
  color: #f0623a;
  font-family: "FontAwesome";
}

.facebook::after { content: "\f082"; }

.twitter::after { content: "\f099"; }

.linkedin::after { content: "\f08c"; }

.instagram::after { content: "\f16d"; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */

.banner .wrapper { 
  width: 100%; 
  position: relative;
}

.banner img { 
  height: 54vh;
  object-fit: cover; }

.banner-info {
  width: 50%;
  position: absolute;
  bottom: 3.1rem;
  right: 0;
}

.banner-text {
  padding: 25px 0 20px 20px;
  background-color: #f0623a;
  color: #fff;
}

.banner-head { 
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1;
  text-transform: uppercase; 
}

.banner-subhead { 
  font-size: 18px; 
  letter-spacing: 1.5px;
}

.read-more {
  margin-top: 20px;
  padding: 15px 22px;
  color: #f0623a;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.read-more::after {
  content: "\f054";
  font-family: "FontAwesome";
  margin-left: 8px;
}

.banner li { width: 100%; }

.banner-list-item:not(:first-child) { display: none; }

/* banner styling ends here */

/* help styling starts here */

.help-section { padding: 5.4rem 0; }

.section-title {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.section-info {
  padding-top: 3.43rem;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
}

/* help styling ends here */

